DATABASE_URL="postgresql://postgres:password@db.example.supabase.co:5432/postgres"
NEXTAUTH_SECRET="bitte_ein_langer_zufallswert"
NEXTAUTH_URL="http://localhost:3000"
INVITE_CODE_SECRET="dein_geheimer_invite_code"
ADMIN_FIRST_NAME="admin"
